# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
.venv/

# Django
staticfiles/

# OS files
.DS_Store
Thumbs.db

# Database
db.sqlite3

# Logs
*.log
security.log

# Media (User uploads)
media/

